{% extends "base.html" %}
{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{% url 'home' %}">Home</a>
        <span class= "mx-2 mb-0">/</span>
        <strong class="text-block">Shop</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb5">
      {% for product in object_list %}
        <div class="col-lg-4 col-md-6 mb-4" data-aos='fade-up'>
          <figure class= "block-4-image">
            <a href="{{ product.get_absolute_url }}"><img src= "{{ product.image.url }}" class="img-fluid"></a>
          </figure>
          <div class="bloc-4-text p-4"></div>
          <div class="col-md-12 mb-0">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3> <a href="{{ product.get_absolute_url }}"> {{ product.title }} </a></h3>
                </div>
                <div class="col">
                  <h3> <a href="{{ product.get_absolute_url }}"> ${{ product.price }} </a></h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Marca</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ninguna</td>
                      <td>Nuevo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}


    </div>
  </div>
</div>


{% endblock content %}
